---
import Layout from '../layouts/HomeLayout.astro'
---

<Layout title="Astro Blog">
	<main>
		<div id="content">
			<div class="header">
				<h2>Galina's Test Blog</h2>
			</div>
		</div>
	</main>
</Layout>
